/* 
MILAN's
Web Falcon
*/

/* GLOBAL STYLES
============================================ */

:root{
  --neutral-1: #fffefe;
  --neutral-2: #27201a;
  --neutral-3: #4a433e;
  --red-1: #e8cdd4;
  --red-2: #c69aa6;
  --red-3: #a56e7e;
  --red-4: #894d5e;
  --red-5: #6c2d3f;
  --gold-1: #ffeae1;
  --gold-2: #dcb9ab;
  --gold-3: #b88d7a;
  --gold-4: #986a56;
  --gold-5: #784732;
  --purple-1: #b29db1;
  --purple-2: #927291;
  --purple-3: #7a5178;
  --purple-4: #653963;
  --purple-5: #50214e;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  overflow-x: hidden;
}
::selection {
  background: var(--gold-1);
  color: var(--purple-5);
}
::-moz-selection {
  background: var(--neutral-1);
  color: var(--purple-5);
}

.paragraph{
  font-size: 1.2rem;
  color: var(--red-2);
  width: 500px;
  text-align: center;
  margin-bottom: 50px;
}

.button{
  padding: 10px 30px;
  text-transform: uppercase;
  font-size: 1rem;
  background: var(--red-5);
  letter-spacing: 2px;
  font-weight: bold;
  transition: 2s;
  z-index: 222;
}
.button:hover{
  background: var(--red-4);
  transition: .5s;
}
a.button{
  text-decoration: none;
  color: var(--neutral-1);
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header h1{
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-weight: bold;
}
.header-line{
  width: 150px;
  height: 7px;
  background: var(--red-5);
  margin-bottom: 20px;
}
@media(max-width: 500px){
  .header h1{
    font-size: 1rem;
  }
  .header-line{
    width: 100px;
    height: 5px;
  }
}

.page{
  display: none;
}
.unhide{
  display: initial;
}

/* WINGS
============================================ */

.welcome{
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: #30152f;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  overflow: hidden;
}
.welcome svg{
  width: 500px;
  z-index: 100;
}
.welcome g{
  fill: var(--gold-1);
}
.circle-anime{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid var(--gold-2);
  position: absolute;
  z-index: 1;
  transform: translateY(100px);
}
@media(max-width: 768px){
  .welcome svg{
    width: 350px;
  }
}

/* HEADER
============================================ */

header{
  top: 0;
  z-index: 55;
  font-size: 1rem;
  height: 80px;
  width: 100%;
  background-color: rgba(80, 33, 78, .25);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  transition: .5s;
}
.header-white{
  background: var(--neutral-1);
  border-bottom: 1px solid var(--red-5);
  transition: .5s;
}
.header-white ul li a{
  color: var(--red-5);
}
.header-white ul li a.active{
  color: var(--red-5);
}
.header-white ul li a:before{
  background: var(--red-5);
}
.header-white .burger > div{
  background: var(--red-5);
}
.header-white .toggle > div{
  animation: burgerY;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
}
@media(max-width: 768px){
  .header-white .nav-bar{
    background: var(--neutral-1);
    border-bottom: 1px solid var(--red-5);
    transition: .5s;
  }
}

@keyframes logoAnimeX{
  0%{
    opacity: 0;
    transform: translateY(30px);
  }
  0%{
    opacity: 1;
    transform: initial;
  }
}
@keyframes logoAnimeY{
  0%{
    opacity: 0;
    
  }
  0%{
    opacity: 1;
    transform: initial;
  }
}
#logo{
  height: 30px;
  margin-left: 200px;
}
#logo svg{
  width: 200px;
  height: 100%;
}
#logo svg g{
  fill: var(--neutral-1);
}
header #logo svg g{
  animation: logoAnimeX ease-in-out .5s;
}
.header-white #logo svg g{
  fill: var(--red-5);
  animation: logoAnimeY ease-in-out .5s;
}

.nav-bar{
  z-index: 100;
  display: flex;
  margin-right: 200px;
  transition: .5s;
}
.nav-bar li a{
  padding: 10px 20px;
  margin: 0px 5px;
  text-decoration: none;
  color: var(--neutral-1);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 100;
  transition: .5s;
  width: 100px;
  height: 30px;
}
.nav-bar li a:before{
  content: '';
  position: absolute;
  width: 0px;
  height: 1px;
  background: var(--neutral-1);
  margin: 0px 10px;
  transform: translate(-10px, 22px);
  transition: .75s;
}
.nav-bar li a:hover:before{
  width: 45px;
  transition: .25s ease-out;
}
.nav-bar li a.active{
  color: var(--neutral-1);
}
.nav-bar li a.active:before{
  content: '';
  position: absolute;
  width: 45px;
  transition: .25s ease-out;
}

.burger > div{
  margin: 6px;
  height: 3px;
  width: 30px;
  background-color: var(--neutral-1);
  transition: .75s;
}
.burger{
  display: none;
}

@media(max-width: 1300px){
  #logo{
    height: 30px;
    margin-left: 20px;
  }
  .nav-bar{
    margin-right: 20px;
  }
  .nav-bar li a{
    margin: 0px;
    padding: 10px 10px;
  }
}
@media(max-width: 768px){
  header{
    background-color: rgba(80, 33, 78, .4);
    height: 60px;
  }
  #logo svg{
    width: 150px;
  }
  .nav-bar{
    padding: 10px 0px;
    position: absolute;
    flex-direction: column;
    top: 60px;
    left: 0%;
    height: 260px;
    width: 100%;
    background-color: rgba(80, 33, 78, .4);
    align-items: left;
    justify-content: space-between;
    transform: translateX(100%);
    transition: .2s ease-out;
    z-index: 100;
    border-top: 1px solid var(--neutral-1);
    border-bottom: 1px solid var(--neutral-1);
  }
  .nav-active{
    transform: translateX(0%);
    z-index: 111;                                                                                          
  }
  .nav-bar li{
    margin: 15px 10px;
  }
  .burger{
    display: block;
    cursor: pointer;
    margin-right: 20px;
  }
}
@media(max-width: 300px){
  .burger{
    display: none;
  }
}
.toggle > div{
  animation: burgerX;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
}
.toggle .line1{
  transform: rotate(-45deg) translate(-8px, 4px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-8px, -4px);
}
@keyframes burgerX{
  0%{}
  70%{
    background: var(--gold-4);
  }
  100%{
    background: var(--neutral-1);
  }
}
@keyframes burgerY{
  0%{}
  60%{
    background: var(--gold-1);
  }
  100%{
    background: var(--red-5);
  }
}

/* LANDING PAGE
============================================ */

#home{
  height: 100vh;
}
.landing{
  height: 100%;
}
.parallax-bg{
  background: url("../img/background.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.landing .overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background:linear-gradient(var(--gold-1), var(--purple-5)) no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
  opacity: 0.75;
}

.content{
  position: absolute;
  left: 5%;
  top: 10%;
  width: 90%;
  height: 80%;
  z-index: 3;
}
.content-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--neutral-1);
}

.title-welcome{
  width: 180px;
  height: 35px;
  text-align: center;
  margin-bottom: 10px;
  position: absolute;
  top: 40%;
}
.title-welcome h1{
  font-size: 1.6rem;
  color: var(--gold-1);
  font-weight: 300;
}
.title-name{
  width: 460px;
  height: 75px;
  text-align: center;
  position: absolute;
  top: 45%;
}
.title-name h2{
  font-family: 'Lustria', serif;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
}

@keyframes appearText{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.reveal span{
  opacity: 0;
  animation: appearText 0.0001s linear forwards;
  animation-delay: .7s;
}
@keyframes revealBlock{
  0%{
    left: 0;
    width: 0%
  }
  25%{
    left: 0;
    width: 100%;
  }
  100%{
    left: 100%;
    width: 0%;
  }
}
.reveal::after{
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 100%;
  background: var(--neutral-1);
  animation: revealBlock .75s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation-delay: .4s;
}

@keyframes headerLineY{
  0%{
    height: 0px;
  }
  100%{
    height: 600px;
  }
}
.title-welcome::before{
  content: '';
  position: absolute;
  height: 0px;
  width: 4px;
  background: var(--neutral-1);
  transform: translate(-330px, 80px);
  opacity: 1;
  animation: headerLineY forwards 2s;
  animation-delay: 1s;
}
.title-welcome::after{
  content: '';
  position: absolute;
  height: 0px;
  width: 4px;
  background: var(--neutral-1);
  transform: translate(326px, -550px);
  opacity: 1;
  animation: headerLineY forwards 1.5s;
  animation-delay: 1s;
}

@keyframes headerLine{
  0%{
    width: 0px;
  }
  100%{
    width: 100px;
  }
}
.title-name::before{
  content: '';
  position: absolute;
  transform: translate(-330px, 40px);
  width: 0px;
  height: 4px;
  background: var(--neutral-1);
  animation: headerLine forwards 1s;
  animation-delay: .1s;
}
.title-name::after{
  content: '';
  position: absolute;
  transform: translate(230px, -42px);
  width: 0px;
  height: 4px;
  background: var(--neutral-1);
  animation: headerLine forwards 1.5s;
  animation-delay: .4s;
}

@keyframes featherLoad{
  0%{
    opacity: 0;
    transform: scale(0.1);
  }
  100%{
    opacity: 1;
    transform: scale(1) translateX(-50%);
  }
}
@keyframes featherPulse{
  50%{
    text-shadow: 0px 0px 50px var(--gold-1);
  }
  100%{
    text-shadow: none;
  }
}
#feather{
  color: var(--neutral-1);
  font-size: 4rem;
  bottom: 5%;
  opacity: 0;
  position: absolute;
  animation: featherLoad 1s ease-in-out forwards;
  animation-delay: 1.5s;
  position: absolute;
  left: 50%;
}
#feather i{
  animation: featherPulse 2s ease-out infinite;
  animation-delay: 2s;
  transition: .5s;
}
#feather i:hover{
  color: var(--red-3);
  transition: .5s ease-in-out;
}

@media(max-width: 768px){
  .title-welcome{
    width: 150px;
    height: 25px;
  }
  .title-name{
    width: 350px;
    height: 55px;
  }
  .title-welcome h1{
    font-size: 1.3rem;
  }
  .title-name h2{
    font-size: 3rem;
  }
  .title-name::before,
  .title-name::after{
    display: none;
  }
  .title-welcome::before{
    transform: translate(-200px, 71px) scaleY(3);
    width: 2px;
  }
  .title-welcome::after{
    transform: translate(200px, -525px) scaleY(3);
    width: 2px;
  }
}
@media(max-width: 480px){
  .title-welcome{
    width: 110px;
    height: 20px;
  }
  .title-name{
    width: 240px;
    height: 40px;
  }
  .title-welcome h1{
    font-size: 1rem;
  }
  .title-name h2{
    font-size: 2rem;
  }
  .title-welcome::before{
    transform: translate(-150px, 71px) scaleY(3);
  }
  .title-welcome::after{
    transform: translate(150px, -525px) scaleY(3);
  }
  #feather{
    font-size: 3rem;
  }
}

/* SERVICES
============================================ */


#services{
  background: var(--neutral-1);
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 3000px;
}

#falcon-logo img{
  width: 350px;
  margin-bottom: 40px;
}

.services-text{
  text-align: center;
  color: var(--red-5);
  font-size: 2.3rem;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.skills-list{
  height: 400px;
  width: 100%;
  background: var(--neutral-3);
  margin-bottom: 50px;
  padding: 50px 50px;
  display: flex;
}
.skills-list-sub{
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.card{
  height: 300px;
  width: 200px;
  margin: 0px 10px;
}
.card-content{
  text-align: center;
  position: relative;
  transition: transform .6s ease-in;
  background: var(--gold-1);
  padding: 150px 100px;
  transform-style: preserve-3d;
  border-radius: 5px;
}
.card-front, .card-back{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.card-front{
  color: var(--red-5);
  padding-top: 20px;
  transform: translateZ(80px);
}
.card-icon{
  font-size: 8rem;
  position: absolute;
  color: var(--red-2);
  top: 140px;
  left: 30px;
  opacity: .75;
  transform: rotate(10deg);
}
.card-title{
  font-size: 1.5rem;
}
.card-back{
  transform: rotateY(.5turn);
  background: var(--gold-2);
  padding: 2rem;
  border-radius: 5px;
}
.card-body{
  color: var(--red-5);
  font-size: 1rem;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--red-5);
  transform: translateZ(80px);
}
.card:hover .card-content{
  transform: rotateY(.5turn);
}

@media(max-width: 1400px){
  #services{
    height: 3300px;
  }
  .skills-list{
    height: 800px;
    flex-direction: column;
    justify-content: space-around;
  }
  .skills-list-sub{
    width: 100%;
  }
}
@media(max-width: 890px){
  .services-text{
    font-size: 1.8rem;
  }
  #falcon-logo img{
    width: 250px;
    margin-bottom: 20px;
  }
}
@media(max-width: 768px){
  #services{
    height: 3500px;
  }
  .services-text{
    font-size: 1.5rem;
  }
  .paragraph{
    font-size: 1rem;
    width: 400px;
  }
  .skills-list{
    height: 1075px;
    padding: 25px;
  }
  .skills-list-sub{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 700px;
  }
  .card{
    margin-bottom: 20px;
    height: 150px;
    width: 300px;
  }
  .card-front{
    padding-top: 5px;
    border: 5px solid var(--red-3);
    transform: translateZ(40px);
  }
  .card-title{
    font-size: 1.2rem;
    margin: 5px 0px;
  }
  .card-content{
    padding: 75px 150px;
  }
  .card-icon{
    font-size: 6rem;
    opacity: .75;
    position: initial;
    transform: rotate(0deg);
    color: var(--red-2);
  }
}
@media(max-width: 560px){
  #services{
    height: 3400px;
  }
  #falcon-logo img{
    width: 200px;
  }
  .services-text{
    font-size: 1.2rem;
  }
  .paragraph{
    font-size: 1rem;
    width: 350px;
  }
}
@media(max-width: 440px){
  #services{
    height: 3300px;
  }
  #falcon-logo img{
    width: 200px;
  }
  .services-text{
    font-size: .8rem;
  }
  .paragraph{
    font-size: .8rem;
    width: 300px;
  }
}

.how-we-do{
  border-top: 5px solid var(--red-5);
  border-bottom: 5px solid var(--red-5);
  margin-top: 100px;
  margin-bottom: 50px;
  padding-top: 50px;
  min-height: 900px;
  width: 100%;
  background-image: url('../img/laptop.jpg');
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.how-we-do h1{
  color: var(--neutral-1);
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 2px;
}
.how-we-do .header div{
  background: var(--purple-4);
  margin-bottom: 40px;
}
.overlay-laptop{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(var(--red-5), var(--gold-3));
  opacity: .5;
  z-index: -115;
}
@media(max-width: 500px){
  .how-we-do h1{
    font-size: 1rem;
  }
}
.how-we-do p{
  color: var(--gold-1);
  font-size: 1.2rem;
  width: 860px;
  text-align: center;
  background: #50214e70;
  padding: 20px;
  border-radius: 10px;
}
.four-steps{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  background: #50214e70;
  height: 600px;
  width: 860px;
  border-radius: 10px;
  padding: 20px;
}
.step{
  margin: 10px;
  display: flex;
}
.step-icon{
  width: 100px;
  height: 100px;
  border-radius: 35%;
  background: #50214e70;
  display: grid;
  place-items: center;
  border: 3px solid var(--gold-1);
}
.step-icon i{
  font-size: 3.5rem;
  color: var(--gold-1);
}
.step h6{
  font-family: sans-serif;
  font-size: 8rem;
  position: absolute;
  transform: translate(110px, -25px);
  color: var(--red-4);
  z-index: -1;
}
.step-text{
  margin-left: 40px;
  color: var(--gold-1);
}
.step-text h1{
  font-size: 2rem;
  letter-spacing: 2px;
}
.step-text h2{
  font-size: 1rem;
  letter-spacing: 1px;
}
@media(max-width: 890px){
  .how-we-do p{
    width: 500px;
  }
  .four-steps{
    width: 500px;
    margin-bottom: 20px;
  }
  .step-icon{
    min-width: 80px;
    min-height: 80px;
    height: 80px;
    width: 80px;
  }
  .step-icon i{
    font-size: 2.5rem;
  }
  .step h6{
    font-family: sans-serif;
    font-size: 6rem;
    position: absolute;
    transform: translate(100px, -10px);
    color: var(--red-4);
    z-index: -1;
  }
}
@media(max-width: 560px){
  .how-we-do p{
    width: 400px;
  }
  .four-steps{
    width: 400px;
    margin-bottom: 20px;
  }
  .step-icon{
    min-width: 60px;
    min-height: 60px;
    height: 60px;
    width: 60px;
  }
  .step h6{
    font-family: sans-serif;
    font-size: 5rem;
    position: absolute;
    transform: translate(70px, -10px);
    color: var(--red-4);
    z-index: -1;
  }
  .step-icon i{
    font-size: 2rem;
  }
  .step-text{
    margin-left: 20px;
    letter-spacing: 0px;
    font-weight: 100;
  }
  .step-text h1{
    font-size: 1.5rem;
  }
}
@media(max-width: 440px){
  .how-we-do p{
    width: 95%;
    font-size: 1rem;
  }
  .four-steps{
    width: 95%;
    margin-bottom: 20px;
  }
}

.tech{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.tech > .paragraph{
  width: 800px;
}
.tech svg{
  position: absolute;
  width: 100%;
}
.wing-left{
  fill: var(--red-4);
  transform: scale(.6) translate(-3000px, 1500px);
}
.wing-right{
  fill: var(--red-4);
  transform: scale(.6) translate(9000px, 1500px);
}
@media(max-width: 1650px){
  .wing-left{
    transform: scale(.5) translate(-2000px, 1500px);
  }
  .wing-right{
    transform: scale(.5) translate(11000px, 1500px);
  }
}
@media(max-width: 1450px){
  .tech > .paragraph{
    width: 600px;
    font-size: 1rem;
  }
  .wing-left{
    transform: scale(.4) translate(-1000px, 1500px);
  }
  .wing-right{
    transform: scale(.4) translate(14000px, 1500px);
  }
}
@media(max-width: 1300px){
  .tech > svg{
    display: none;
  }
}
.chart{
  width: 800px;
  height: 500px;
}
.chart-paragraph{
  border-top: 2px solid var(--red-4);
  border-bottom: 2px solid var(--red-4);
  width: 500px;
  text-align: center;
  font-size: 1.4rem;
  color: var(--red-5);
  padding: 5px 0px;
}
.chart-line{
  width: 1px;
  height: 470px;
  background: var(--red-4);
  z-index: 0;
  position: absolute;
  opacity: .5;
}
.chart-line h2{
  margin-left: 10px;
  color: var(--red-4);
  font-size: 1rem;
}
.chart-line-1{
  transform: translateX(140px);
}
.chart-line-2{
  transform: translateX(460px);
}
.chart-line-3{
  transform: translateX(780px);
}
.chart li{
  margin: 30px 0;
}
.chart li h3{
  color: var(--red-4);
  margin-bottom: 5px;
}
.bar span{
  height: 2px;
  float: left;
  background: var(--red-4);
  box-shadow: 0 0 4px var(--red-5);
}
.chart-2009{
  width: 2%;
}
.chart-2010{
  width: 6%;
}
.chart-2011{
  width: 12%;
}
.chart-2012{
  width: 20%;
}
.chart-2013{
  width: 32%;
}
.chart-2014{
  width: 54%;
}
.chart-2015{
  width: 70%;
}
.chart-2016{
  width: 86%;
}
.chart-2017{
  width: 96%;
}
.chart-2018{
  width: 100%;
}
@media(max-width: 890px){
  .chart{
    width: 400px;
  }
  .chart-line-1{
    transform: translateX(70px);
  }
  .chart-line-2{
    transform: translateX(230px);
  }
  .chart-line-3{
    transform: translateX(390px);
  }
}
@media(max-width: 650px){
  .tech{
    padding-top: 0px;
  }
  .tech > .paragraph{
    width: 500px;
    font-size: 1rem;
  }
}
@media(max-width: 560px){
  .tech{
    height: 600px;
    justify-content: space-between;
  }
  .tech > .header{
    margin-bottom: 70px;
  }
  .tech > .paragraph{
    height: 250px;
    width: 380px;
    font-size: 1rem;
  }
  .chart-paragraph{
    width: 90%;
    font-size: 1rem;
  }
  .chart li{
    margin: 15px 0px;
  }
  .chart{
    width: 300px;
    margin-bottom: 30px;
  }
  .chart-line-1{
    display: none;
  }
  .chart-line-2{
    display: none;
  }
  .chart-line-3{
    transform: translateX(290px);
    height: 310px;
  }
}
@media(max-width: 420px){
  .tech > .paragraph{
    width: 300px;
    font-size: 1rem;
  }
  .chart-paragraph{
    width: 300px;
    font-size: 1rem;
  }
  .chart{
    width: 200px;
  }
  .chart-line-3{
    transform: translateX(190px);
  }
}

/* CONNECT
============================================ */

#connect{
  height: 720px;
  background: var(--purple-3);
  padding-top: 110px;
}
#connect h1{
  color: var(--gold-1);
  letter-spacing: 3px;
  font-size: 1.3rem;
}
#connect .header-line{
  background: var(--gold-2);
  height: 3px;
  transform: translateY(-46px);
  margin-bottom: 80px;
}

.connect-form{
  width: 50%;
  margin: auto;
}
.small-input-group{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.small-input{
  width: 48%;
}
input{
  width: 100%;
  border: none;
  height: 50px;
  background: none;
  outline: none;
  padding: 0px 20px;
  color: var(--gold-1);
  font-size: 1.1rem;
  border-top: 4px solid var(--gold-2);
  background: linear-gradient(var(--gold-3), var(--purple-3));
}
textarea{
  width: 100%;
  height: 150px;
  resize: none;
  border: none;
  outline: none;
  background: linear-gradient(var(--gold-3), var(--purple-3));
  padding: 15px;
  color: var(--gold-1);
  font-size: 1.3rem;
  margin-bottom: 70px;
  border-top: 4px solid var(--gold-2);
}
::placeholder{
  color: var(--gold-1);
  font-size: 1.1rem;
  letter-spacing: 0px;
  opacity: .7;
}
:-ms-placeholder{
  color: var(--gold-1);
  font-size: 1.1rem;
  letter-spacing: 0px;
  opacity: .7;
}
::-ms-placeholder{
  color: var(--gold-1);
  font-size: 1.1rem;
  letter-spacing: 0px;
  opacity: .7;
}
button{
  width: 100%;
  height: 60px;
  background: none;
  border: none;
  border-top: 4px solid var(--gold-2);
  border-bottom: 4px solid var(--gold-2);
  color: var(--gold-2);
  text-transform: uppercase;
  font-size: 1.7rem;
  letter-spacing: 5px;
  cursor: pointer;
  transition: 3s;
}
button:hover{
  transition: 1s;
  box-shadow: inset 0 60px var(--gold-3);
  color: var(--gold-1);
}
@media(max-width: 1366px){
  .connect-form{
    width: 60%;
  }
}
@media(max-width: 1000px){
  .connect-form{
    width: 90%;
  }
}
@media(max-width: 768px){
  #connect .header-line{
    margin-bottom: 40px;
  }
  .small-input-group{
    flex-direction: column;
    margin-bottom: 0px;
  }
  .small-input{
    width: 100%;
    margin-bottom: 40px;
  }
  textarea{
    margin-bottom: 40px;
  }
}

/* FOOTER
============================================ */

footer{
  height: 300px;
  background: linear-gradient(var(--purple-3), var(--purple-5));
  color: var(--gold-2);
  border-top: 2px solid var(--gold-2);
  padding: 70px 100px;
}
footer h1{
  font-weight: 100;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
footer h2{
  font-weight: 100;
  font-size: 1.2rem;
}