/* 
MILAN's
Web Falcon
*/

/* GLOBAL STYLES
============================================ */

:root{
  --neutral-1: #fffefe;
  --neutral-2: #27201a;
  --neutral-3: #4a433e;
  --red-1: #e8cdd4;
  --red-2: #c69aa6;
  --red-3: #a56e7e;
  --red-4: #894d5e;
  --red-5: #6c2d3f;
  --gold-1: #ffeae1;
  --gold-2: #dcb9ab;
  --gold-3: #b88d7a;
  --gold-4: #986a56;
  --gold-5: #784732;
  --purple-1: #b29db1;
  --purple-2: #927291;
  --purple-3: #7a5178;
  --purple-4: #653963;
  --purple-5: #50214e;
  --purple-6: #30152f;

  --serif: 'Lustria', serif;;
  --sans: 'Montserrat', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body{
  font-family: var(--sans);
  font-size: 62.5%;
  overflow-x: hidden;
}

::selection {
  background: var(--gold-1);
  color: var(--purple-5);
}
::-moz-selection {
  background: var(--neutral-1);
  color: var(--purple-5);
}

.paragraph{
  font-size: 1.2rem;
  color: var(--red-2);
  width: 500px;
  text-align: center;
  margin-bottom: 50px;
}

.button{
  padding: 10px 30px;
  text-transform: uppercase;
  font-size: 1rem;
  background: var(--red-5);
  letter-spacing: 2px;
  font-weight: bold;
  transition: 2s;
  z-index: 222;
}
.button:hover{
  background: var(--red-4);
  transition: .5s;
}
a.button{
  text-decoration: none;
  color: var(--neutral-1);
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header h1{
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-weight: bold;
}
.header-line{
  width: 150px;
  height: 7px;
  background: var(--red-5);
  margin-bottom: 20px;
}
@media(max-width: 500px){
  .header h1{
    font-size: 1rem;
  }
  .header-line{
    width: 100px;
    height: 5px;
  }
}

.page{
  display: none;
}
.unhide{
  display: initial;
}

/* WINGS
============================================ */

.welcome{
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: var(--purple-6);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  overflow: hidden;
}
.welcome svg{
  width: 500px;
  z-index: 100;
}
.welcome g{
  fill: var(--gold-1);
}
.circle-anime{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid var(--gold-2);
  position: absolute;
  z-index: 1;
  transform: translateY(100px);
}
@media(max-width: 768px){
  .welcome svg{
    width: 350px;
  }
}

/* HEADER
============================================ */

header{
  top: 0;
  z-index: 55;
  font-size: 1rem;
  height: 80px;
  width: 100%;
  background-color: rgba(80, 33, 78, .25);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  transition: .s;
}
.header-white{
  background: var(--neutral-1);
  border-bottom: 1px solid var(--red-5);
  transition: 1s;
}
.header-white ul li a{
  color: var(--red-5);
}
.header-white ul li a.active{
  color: var(--red-5);
}
.header-white ul li a::before{
  background: var(--red-5);
}
.header-white .burger > div{
  background: var(--red-5);
}
.header-white .toggle > div{
  animation: burgerY;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
}
@media(max-width: 768px){
  .header-white .nav-bar{
    background: var(--neutral-1);
    border-bottom: 1px solid var(--red-5);
    transition: .5s;
  }
}

@keyframes logoAnimeX{
  0%{
    opacity: 0;
    transform: translateY(30px);
  }
  0%{
    opacity: 1;
    transform: initial;
  }
}
@keyframes logoAnimeY{
  0%{
    opacity: 0;
    
  }
  0%{
    opacity: 1;
    transform: initial;
  }
}
#logo{
  height: 30px;
  margin-left: 200px;
}
#logo svg{
  width: 200px;
  height: 100%;
}
#logo svg g{
  fill: var(--neutral-1);
}
header #logo svg g{
  animation: logoAnimeX ease-in-out .5s;
}
.header-white #logo svg g{
  fill: var(--red-5);
  animation: logoAnimeY ease-in-out .5s;
}

.nav-bar{
  z-index: 100;
  display: flex;
  margin-right: 200px;
  transition: .5s;
}
.nav-bar li a{
  padding: 10px 20px;
  margin: 0px 5px;
  text-decoration: none;
  color: var(--neutral-1);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 100;
  transition: .5s;
  width: 100px;
  height: 30px;
}
.nav-bar li a::before{
  content: '';
  position: absolute;
  width: 0px;
  height: 1px;
  background: var(--neutral-1);
  margin: 0px 10px;
  transform: translate(-10px, 22px);
  transition: .75s;
}
.nav-bar li a:hover::before{
  width: 45px;
  transition: .25s ease-out;
}
.nav-bar li a.active{
  color: var(--neutral-1);
}
.nav-bar li a.active::before{
  content: '';
  position: absolute;
  width: 45px;
  transition: .25s ease-out;
}

.burger > div{
  margin: 6px;
  height: 3px;
  width: 30px;
  background-color: var(--neutral-1);
  transition: .75s;
}
.burger{
  display: none;
}

@media(max-width: 1300px){
  #logo{
    height: 30px;
    margin-left: 20px;
  }
  .nav-bar{
    margin-right: 20px;
  }
  .nav-bar li a{
    margin: 0px;
    padding: 10px 10px;
  }
}
@media(max-width: 768px){
  header{
    background-color: rgba(80, 33, 78, .4);
    height: 60px;
  }
  #logo svg{
    width: 150px;
  }
  .nav-bar{
    padding: 10px 0px;
    position: absolute;
    flex-direction: column;
    top: 60px;
    left: 0%;
    height: 260px;
    width: 100%;
    background-color: rgba(80, 33, 78, .4);
    align-items: left;
    justify-content: space-between;
    transform: translateX(100%);
    transition: .2s ease-out;
    z-index: 100;
    border-top: 1px solid var(--neutral-1);
    border-bottom: 1px solid var(--neutral-1);
  }
  .nav-active{
    transform: translateX(0%);
    z-index: 111;                                                                                          
  }
  .nav-bar li{
    margin: 15px 10px;
  }
  .burger{
    display: block;
    cursor: pointer;
    margin-right: 20px;
  }
}
@media(max-width: 300px){
  .burger{
    display: none;
  }
}
.toggle > div{
  animation: burgerX;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
}
.toggle .line1{
  transform: rotate(-45deg) translate(-8px, 4px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-8px, -4px);
}
@keyframes burgerX{
  0%{}
  70%{
    background: var(--gold-4);
  }
  100%{
    background: var(--neutral-1);
  }
}
@keyframes burgerY{
  0%{}
  60%{
    background: var(--gold-1);
  }
  100%{
    background: var(--red-5);
  }
}

/* LANDING PAGE
============================================ */

#home{
  height: 100vh;
}
.landing{
  height: 100%;
}
.parallax-bg{
  background: url("../img/background.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.landing .overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background:linear-gradient(var(--gold-1), var(--purple-5)) no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
  opacity: 0.75;
}

.content{
  position: absolute;
  left: 5%;
  top: 10%;
  width: 90%;
  height: 80%;
  z-index: 3;
}
.content-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--neutral-1);
}

.title-welcome{
  width: 180px;
  height: 35px;
  text-align: center;
  margin-bottom: 10px;
  position: absolute;
  top: 40%;
}
.title-welcome h1{
  font-size: 1.6rem;
  color: var(--gold-1);
  font-weight: 300;
}
.title-name{
  width: 460px;
  height: 75px;
  text-align: center;
  position: absolute;
  top: 45%;
}
.title-name h2{
  font-family: var(--serif);
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
}

@keyframes appearText{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.reveal span{
  opacity: 0;
  animation: appearText 0.0001s linear forwards;
  animation-delay: .7s;
}
@keyframes revealBlock{
  0%{
    left: 0;
    width: 0%
  }
  25%{
    left: 0;
    width: 100%;
  }
  100%{
    left: 100%;
    width: 0%;
  }
}
.reveal::after{
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 100%;
  background: var(--neutral-1);
  animation: revealBlock .75s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation-delay: .4s;
}

@keyframes headerLineY{
  0%{
    height: 0px;
  }
  100%{
    height: 600px;
  }
}
.title-welcome::before{
  content: '';
  position: absolute;
  height: 0px;
  width: 4px;
  background: var(--neutral-1);
  transform: translate(-330px, 80px);
  opacity: 1;
  animation: headerLineY forwards 2s;
  animation-delay: 1s;
}
.title-welcome::after{
  content: '';
  position: absolute;
  height: 0px;
  width: 4px;
  background: var(--neutral-1);
  transform: translate(326px, -550px);
  opacity: 1;
  animation: headerLineY forwards 1.5s;
  animation-delay: 1s;
}

@keyframes headerLine{
  0%{
    width: 0px;
  }
  100%{
    width: 100px;
  }
}
.title-name::before{
  content: '';
  position: absolute;
  transform: translate(-330px, 40px);
  width: 0px;
  height: 4px;
  background: var(--neutral-1);
  animation: headerLine forwards 1s;
  animation-delay: .1s;
}
.title-name::after{
  content: '';
  position: absolute;
  transform: translate(230px, -42px);
  width: 0px;
  height: 4px;
  background: var(--neutral-1);
  animation: headerLine forwards 1.5s;
  animation-delay: .4s;
}

@keyframes featherLoad{
  0%{
    opacity: 0;
    transform: scale(0.1);
  }
  100%{
    opacity: 1;
    transform: scale(1) translateX(-50%);
  }
}
@keyframes featherPulse{
  50%{
    text-shadow: 0px 0px 50px var(--gold-1);
  }
  100%{
    text-shadow: none;
  }
}
#feather{
  color: var(--neutral-1);
  font-size: 4rem;
  bottom: 5%;
  opacity: 0;
  position: absolute;
  animation: featherLoad 1s ease-in-out forwards;
  animation-delay: 1.5s;
  position: absolute;
  left: 50%;
}
#feather i{
  animation: featherPulse 2s ease-out infinite;
  animation-delay: 2s;
  transition: .5s;
}
#feather i:hover{
  color: var(--red-3);
  transition: .5s ease-in-out;
}

@media(max-width: 768px){
  .title-welcome{
    width: 150px;
    height: 25px;
  }
  .title-name{
    width: 350px;
    height: 55px;
  }
  .title-welcome h1{
    font-size: 1.3rem;
  }
  .title-name h2{
    font-size: 3rem;
  }
  .title-name::before,
  .title-name::after{
    display: none;
  }
  .title-welcome::before{
    transform: translate(-200px, 71px) scaleY(3);
    width: 2px;
  }
  .title-welcome::after{
    transform: translate(200px, -525px) scaleY(3);
    width: 2px;
  }
}
@media(max-width: 480px){
  .title-welcome{
    width: 110px;
    height: 20px;
  }
  .title-name{
    width: 240px;
    height: 40px;
  }
  .title-welcome h1{
    font-size: 1rem;
  }
  .title-name h2{
    font-size: 2rem;
  }
  .title-welcome::before{
    transform: translate(-150px, 71px) scaleY(3);
  }
  .title-welcome::after{
    transform: translate(150px, -525px) scaleY(3);
  }
  #feather{
    font-size: 3rem;
  }
}


/* ABOUT
============================================ */
#about{
  height: 1000px;
  background: #000000;
}
@keyframes unravel{
  0%{
    opacity: 0;
    transform: scale(0.7);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

/* SERVICES
============================================ */


#services{
  background: var(--neutral-1);
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 2000px;
}

.services-text{
  text-align: center;
  color: var(--red-5);
  font-size: 2.3rem;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.skills-list{
  height: 400px;
  width: 100%;
  background: var(--neutral-3);
  margin-bottom: 50px;
  padding: 50px 50px;
  display: flex;
}
.skills-list-sub{
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.card{
  height: 300px;
  width: 200px;
  margin: 0px 10px;
}
.card-content{
  text-align: center;
  position: relative;
  transition: transform .6s ease-in;
  background: var(--gold-1);
  padding: 150px 100px;
  transform-style: preserve-3d;
  border-radius: 5px;
}
.card-front, .card-back{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.card-front{
  color: var(--red-5);
  padding-top: 20px;
  transform: translateZ(80px);
}
.card-icon{
  font-size: 8rem;
  position: absolute;
  color: var(--red-2);
  top: 140px;
  left: 30px;
  opacity: .75;
  transform: rotate(10deg);
}
.card-title{
  font-size: 1.5rem;
}
.card-back{
  transform: rotateY(.5turn);
  background: var(--gold-2);
  padding: 2rem;
  border-radius: 5px;
}
.card-body{
  color: var(--red-5);
  font-size: 1rem;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--red-5);
  transform: translateZ(80px);
}
.card:hover .card-content{
  transform: rotateY(.5turn);
}

@media(max-width: 1400px){
  #services{
    height: 3300px;
  }
  .skills-list{
    height: 800px;
    flex-direction: column;
    justify-content: space-around;
  }
  .skills-list-sub{
    width: 100%;
  }
}
@media(max-width: 890px){
  .services-text{
    font-size: 1.8rem;
  }
}
@media(max-width: 768px){
  #services{
    height: 3500px;
  }
  .services-text{
    font-size: 1.5rem;
  }
  .paragraph{
    font-size: 1rem;
    width: 400px;
  }
  .skills-list{
    height: 1075px;
    padding: 25px;
  }
  .skills-list-sub{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 700px;
  }
  .card{
    margin-bottom: 20px;
    height: 150px;
    width: 300px;
  }
  .card-front{
    padding-top: 5px;
    border: 5px solid var(--red-3);
    transform: translateZ(40px);
  }
  .card-title{
    font-size: 1.2rem;
    margin: 5px 0px;
  }
  .card-content{
    padding: 75px 150px;
  }
  .card-icon{
    font-size: 6rem;
    opacity: .75;
    position: initial;
    transform: rotate(0deg);
    color: var(--red-2);
  }
}
@media(max-width: 560px){
  #services{
    height: 3400px;
  }
  .services-text{
    font-size: 1.2rem;
  }
  .paragraph{
    font-size: 1rem;
    width: 350px;
  }
}
@media(max-width: 440px){
  #services{
    height: 3300px;
  }
  .services-text{
    font-size: .8rem;
  }
  .paragraph{
    font-size: .8rem;
    width: 300px;
  }
}

/* CONNECT
============================================ */
#connect{
  height: 600px;
  width: 100%;
  position: relative;
  background: var(--purple-4);
}
.box{
  width: 500px;
  padding: 50px;
  position: absolute;
  top: 100px;
  left: 200px;
}
@media(max-width: 1200px){
  .box{
    left: 100px;
  }
}
@media(max-width: 768px){
  .box{
    width: 99%;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.box input{
  padding: 10px 10px;
  margin-bottom: 50px;
  color: var(--gold-2);
}
.box textarea{
  height: 80px;
  padding: 10px;
  margin-bottom: 50px;
  color: var(--gold-2);
}
.box input,
.box textarea{
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
  border: none;
  background: none;
  resize: none;
  outline: none;
  border-bottom: 1px solid var(--gold-2);
}
.box button{
  border: 1px solid var(--gold-2);
  cursor: pointer;
  text-transform: uppercase;
  color: var(--gold-2);
  margin-bottom: 0;
  width: 125px;
  height: 50px;
  background:-webkit-linear-gradient(0deg,transparent 50%,var(--neutral-1) 50%);
  background-size: 400px 80px;
  transition: .75s ease-in-out;
}
.box button:hover{
  background-position: 150px 0;
  transition: .5s ease-in-out;
  color: var(--purple-2)
}
.box form div{
  position: relative;
}
.box form div label{
  position: absolute;
  top: 15px;
  left: 0;
  font-size: 1rem;
  color: var(--gold-2);
  transition: .4s;
  pointer-events: none;
}
.box .textarea-class::after{
  bottom: 42px;
}
.box input:focus ~ label,
.box textarea:focus ~ label,
.box input:valid ~ label,
.box textarea:valid ~ label{
  top: -17px;
  left: 0;
  color: var(--neutral-1);
  font-size: 1.2rem;
}
@keyframes lineAnimate{
  0%{
      width: 0%;
  }
  100%{
      width: 100%;
  }
}
.box input:focus ~ .input-line,
.box textarea:focus ~ .input-line,
.box input:valid ~ .input-line,
.box textarea:valid ~ .input-line{
  position: absolute;
  height: 2px;
  width: 0%;
  background: var(--neutral-1);
  bottom: 49px;
  left: 0;
  animation: lineAnimate .25s forwards ease-in;
}
.box textarea:focus ~ .input-line,
.box textarea:valid ~ .input-line{
  bottom: 53px;
}


/* FOOTER
============================================ */

footer{
  height: 500px;
  background: linear-gradient(var(--purple-5), var(--purple-6));
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--gold-1);
  font-weight: 100;
}
footer h1{
  margin-top: 50px;
}
footer h2{
  margin-bottom: 20px;
}
footer h3{
  letter-spacing: 1px;
  color: var(--gold-2);
  font-size: .9rem;
}
footer h4{
  margin-top: 50px;
  font-size: .75rem;
}
footer ul{
  margin: 80px 0;
  display: flex;
}
footer ul li{
  list-style: none;
  margin: 0 70px;
}
footer ul li a .fab{
  font-size: 40px;
  color: var(--purple-3);
  line-height: 80px;
  transition: .5s;
}
footer ul li a{
  display: block;
  width: 80px;
  height: 80px;
  background: var(--gold-1);
  text-align: center;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
  transition: .5s;
  box-shadow: -20px 20px 50px rgba(184, 141, 122, .5);
}
footer ul li a::before{
  content: '';
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: var(--gold-2);
  transition: .5s;
  transform: rotate(0deg) skewY(-45deg);
}
footer ul li a::after{
  content: '';
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: var(--gold-3);
  transition: .5s;
  transform: rotate(0deg) skewX(-45deg);
}
footer ul li a:hover{
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 85px rgba(184, 141, 122, .5);
}
@media(max-width: 768px){
  footer{
    height: 800px;
  }
  footer ul{
    flex-direction: column;
    margin: 40px 0;
  }
  footer ul li{
    margin: 40px 0;
  }
}